body {
  font-family: 'Montserrat', sans-serif;
  color: #ffabce;
  margin: 0;
  text-align: center;
  background-color: black;
  background-size: cover;
}

a {
  color: #f283bc;
  font-family: 'Montserrat', 'sans-serif';
}

a:hover {
  color: #f5b8d7;
}


h1 {
  font-family: 'Permanent Marker', cursive;
  margin-top: 50px auto 0 auto;
  font-size: 5.625rem;
  }

h2 {
  font-family: 'Staatliches', cursive;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Staatliches', cursive;

}

hr {
  visibility: hidden;
}

.profile {
  padding-bottom: 30px;
}

.skill-row1 {
  display: inline-block;
  width: 50%;
  text-align: left;
  line-height: 2;
  margin-top: 25px;
}

.skill-row2 {
  display: inline-block;
  width: 50%;
  text-align: left;
  line-height: 2;
  margin-top: 100px;
}

.profilepic {
  padding-top: 40px;
  width: 256px;
  height: 256px;
}


.top-container {
  background-color: #000000;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: auto;

}

.middle-container {

  background-size: cover;
}


.bottom-container {
  background-color: #000000;
  background-size: cover;
  margin-top: 0;
}

.contact-me {
background-color: #000000;
}

.skill-icon1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-icon2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn {
  text-align: center;
}
.myButton {
	box-shadow:inset 0 1px 0 0 #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ffabce;
	border-radius:6px;
	border:1px solid #ffabce;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat';
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 #c70067;
  margin-top: 16px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.myButton:active {
	position:relative;
	top:1px;
}
.footer {
  padding: 50px 0 0;
}
.footer-link {
  margin: 10px 20px;
  text-decoration: none;

}
.copyright {
  color: gray;
  font-size: 8px;
}

.flaticon {
  color: gray;
  font-size: 8px;
}
